//colors
$blue: #FF0009;
$blue2: #74dcff;
$cyan: #00D4C9;
$green: #00d400;
$green2: #87db88;
$gray-medium: #555555;
$color-placeholder-text: #fefefe;
$color-background: #fafafa;

//dimensions
$ball-height: 3rem;

//duration tokens
$duration-instant: 0;
$duration-shorter: 70ms;
$duration-short: 100ms;
$duration-base: 200ms;
$duration-long: 400ms;
$duration-longer: 700ms;
$duration-message: 2500ms;

//easing tokens
$easing-custom-1: cubic-bezier(.67, 0, 0, 1);
$easing-custom-2: cubic-bezier(0,.3,.12,1);

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@keyframes balls {
  0% {
    left:0;   
  }
  
  50% {
    left:20rem;
    box-shadow: 0px 16px 16px 0px rgba(0,0,0,.16);
  }

  100% {
    left:0rem;
  }
}

@keyframes statusmessage {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
  
* {
  font-family: avenir, Helvetica Neue, Helvetica, arial, sans-serif;
}

body {
  background-color: $color-background;
  padding: 3rem;
}

header {
  margin-top:3.5rem;
  margin-bottom: 4rem;
}

h1 {
  margin-top: -2rem;
  line-height: 1;
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 0.8;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

h4 {
  font-weight: 400;
  font-size: 1.35rem;
  line-height: 1.5;
  max-width: 40rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: $blue;
  font-style: italic;
}

h6 {
  font-size: 1.35rem;
  font-weight: 100;
}

span.thick {
  position:relative;
  font-weight: 600;
  text-decoration: underline;
}

.section {
   padding-bottom: 2rem;
   padding-top: 2rem;
}

.subsection {
  padding-top: 0.1rem;
}

.demo {
  width: 30rem;
  height: 5rem;
  background: #efefef;

  &.duration {
    width: 7.5rem;
    height: 7.5rem;
    background: $blue;
    transition-property: border-radius, background;
    
    &.zero {
       transition-duration: 0;
    }
    
    &.instant {
       transition-duration: $duration-instant;      
    }
    
    &.base {
       transition-duration: $duration-base;       
    }
    
    &.long {
       transition-duration: $duration-long;            
    }
    
    &.longer {
        transition-duration: $duration-longer;      
    }
    
    &.message {
      transition-duration: $duration-message;
    }
    
    &.base-duration {
      background-color: shade( $blue, 30% );
    }
    &:hover {
      background: $green;
      border-radius: 50%;
    }   
  }
  
  &.statusbar {
    cursor: pointer;
    transition: all $duration-longer linear;
    width: 54rem;
    height: 7rem;
    background: repeating-linear-gradient(-45deg,#ececec,#ececec .5rem,#f3f3f3 .5rem,#f3f3f3 1rem);
  }

    &.statusbar2 {
    margin-top: 1rem;
    cursor: pointer;
    transition: all $duration-short linear;
    width: 54rem;
    height: 7rem;
    background: repeating-linear-gradient(-45deg,#ececec,#ececec .5rem,#f3f3f3 .5rem,#f3f3f3 1rem);
  }

  &.statusbar3 {
    margin-top: 1rem;
    cursor: pointer;
    transition: all $duration-longer $easing-custom-1;
    width: 54rem;
    height: 7rem;
    background: repeating-linear-gradient(-45deg,#ececec,#ececec .5rem,#f3f3f3 .5rem,#f3f3f3 1rem);
  }
}

.ball {
  position: relative;
  height: $ball-height;
  width: $ball-height;
  border-radius: $ball-height/2;
  background-color: $blue;
  
  animation-name: balls;
  animation-duration: $duration-message;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  
  &.custom-easing {
    background-color: shade( $blue, 30% );
  }
  
  &.easing-0 {
    animation-timing-function: ease; 
  }
  
  &.easing-1 {
    animation-timing-function: ease-in-out;
  }
  
  &.easing-2 {
    animation-timing-function: ease-in;    
  }
  
  &.easing-3 {
    animation-timing-function: ease-out;    
  }
  
  &.easing-4 {
    animation-timing-function: linear;    
  }
  
  &.easing-5 {
    animation-timing-function: $easing-custom-1;
    -webkit-animation-timing-function: $easing-custom-1;
  }
  
  &.easing-6 {
    animation-timing-function: $easing-custom-2;   
    -webkit-animation-timing-function: $easing-custom-2;
  }
  
  &:hover {

  }
}

.custom-easing, .base-duration {
  color: shade( $blue, 30% );
  //background-color: shade( $blue, 30% );
}
.motion-demo {
  position: relative;
  height: $ball-height*2;
  width: $ball-height*2;
  border-radius: $ball-height;
  background-color: $blue;
  margin-bottom: 3rem;
  display: block;
  transition-duration: $duration-base;
  transition-timing-fuction: $easing-custom-1;
  transition-property: all;  

  &.fadein {

  }

  &.ghosted {

  }

  &.expand {
  }

  &.slide {
    transition-timing-fuction: $easing-custom-2;
  }

  &.top {
  }

}


//
.button {
    cursor: pointer;  
    position:relative;
    max-width:290px;
    height:60px;
    background-color: #dedede;
    text-align:center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
   
  &.toggle-display{
    display: inline-block;
    background-color: $gray-medium;
    margin-right: 1rem;
    width: 5rem;
    height: 2rem;
  }
    
    &:hover {
      color: #ffffff;
      
      a {
        color: #ffffff;
        z-index: 1000;     
      }

      .hovereffect1 {
        height: 60px;
      }
    }   

    &:active {
      background: $blue2;
      opacity: .75;
      transform: scale(.98);
      transition: all $duration-base ease;
    }

    a {
      position: relative;
      padding: 0px;
      text-align: center;
      text-decoration: none;
      color: #888888;
      font-size: 1rem;
      font-weight: 400;
      line-height: 60px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; 
    }
}

.filter {  
    cursor: pointer;
    position:relative;
    max-width:290px;
    height:60px;
    background-color: #dedede;
    text-align:center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
    &:hover {
      a {
        z-index: 1000;     
      }

      .hovereffect2 {
        height: 60px;
      }
    }   

    &:active {
      background: $blue2;
      opacity: .75;
      //transform: scale(.98);
      transition: all $duration-base ease;
    }

    a {
      position: relative;
      padding: 0px;
      text-align: center;
      text-decoration: none;
      color: #888888;
      font-size: 1rem;
      font-weight: 400;
      line-height: 60px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; 
    }
}
.hovereffect1 {
    position: absolute;
    width: 100%;
    top: 0;
    height: 0px;
    margin: 0 auto;
    padding: 0px;
    background-color: $blue2;
    -webkit-transition: .2s $easing-custom-1;
    -moz-transition: .2s $easing-custom-1;
    -o-transition: .2s $easing-custom-1;
    -ms-transition: .2s $easing-custom-1;
    transition: .2s $easing-custom-1;
}

.hovereffect2 {
    position: absolute;
    width: 100%;
    top: 0;
    height: 0px;
    margin: 0 auto;
    padding: 0px;
    background-color: $blue2;
    -webkit-transition: $duration-shorter $easing-custom-1;
    -moz-transition: $duration-shorter $easing-custom-1;
    -o-transition: $duration-shorter $easing-custom-1;
    -ms-transition: $duration-shorter $easing-custom-1;
    transition: $duration-shorter $easing-custom-1;
}


input[type='checkbox'] {
  display: none;
}

#button-fadein:checked + label .fadein {
  opacity: 0;
  webkit-transform: scale(.8);
  transform: scale(.8);
  box-shadow: none;
}

#button-ghosted:checked + label .ghosted {
  opacity: 0.5;
}

#button-expand:checked + label .expand {
  webkit-transform: scale(2);
  transform: scale(2);
}

#button-slide:checked + label .slide {
  margin-left: 15rem;

}

#button-filter:checked + label .filter{
  background: $blue2;
}

#button-statusbar:checked + label .statusbar{
  background: $green2;
}

#button-statusbar2:checked + label .statusbar2{
  background: $green2;
}

#button-statusbar3:checked + label .statusbar3{
  background: $green2;
}

//Float Label
$border: 1px solid #333;
$padding: 10px;


.float-label {
  .control {
    float: left;
    position: relative;
    background: #fff;
    width: 25rem;
    border: 1px solid #ddd;
    padding-top: $padding;
    padding-bottom: $padding;
    height: 25px;
  }
  
  input, textarea {
    display: block;
    padding-left: 0.5rem;
    width: 24rem;
    border: 0;
    outline: 0;
    resize: none;
    font-size: 1rem;
    bottom: 0;
    padding-top: 0.5rem;
    
    & + label {
      position: absolute;
      left: 0.5rem;
      top: 14px;
      padding-top: 0.1rem;
      transition: top $duration-base $easing-custom-1, opacity $duration-base $easing-custom-1;
      opacity: 0;
      color: #999;
      font-size: 1rem;
    }
    
    &:valid + label {
      
      opacity: 1;
      top: 3px;
      font-size: 0.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }
    
    &:focus + label {
      color: $blue2;
      opacity: 1;
      top: 3px;
      font-size: 0.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.fullwidth {
  display:block;
  position:relative;
  width: 100%;
}

//Toggles

.container {
  position: relative;
  height: 40px;
  width: 12rem;
}

span {
  position: absolute;
  margin-top: 0.3rem;
}
span .toggle-label {
  position: relative;
  
}
.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 20px; 
  height: 1em;
  width: 2em;
  background: #cdcdcd;
  border-radius: 1em;
  border: 0.185rem solid #cdcdcd;
  
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  -webkit-transition: all $duration-short ease-in-out;
     -moz-transition: all $duration-short ease-in-out;
          transition: all $duration-short ease-in-out;
}

input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

//Modal

#openPopUp{
  text-align:center;
  background-color: $gray-medium;
  padding: 15px 15px;
  color: #ffffff;
  border-radius: 3.5px;
  text-decoration: none;
  font-weight: 100;
  transition:background-color 0.15s linear;
  -webkit-transition:background-color 0.15s linear;
  -moz-transition:background-color 0.25s linear;
  -o-transition:background-color 0.25s linear;
}
a#openPopUp:hover{
  cursor: pointer;
}
.popup{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;

    -webkit-transition: opacity 0s ease;
    -moz-transition: opacity 0s ease;
    -o-transition: opacity 0s ease;
    transition: opacity 0s ease;
  

}
.popup .popUpContainer{
  width: 100%;
  max-width: 64rem;
  position: fixed;
  left: 50%;
  transform: translateX(-25%);
  top: 50%;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  margin-left: -250px;
  background-color: #ffffff;

  border-radius: 2px;
  z-index: 9999999; 
  header {
    background: black;
    margin: 0;
    min-height: 2.5rem;
        -webkit-transition: top  $duration-shorter ease;
    -moz-transition: top $duration-shorter ease;
    -o-transition: top $duration-shorter ease;
    transition: top $duration-shorter ease;
    h2 {
      position: absolute;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      left: 50%;
      top: 1.25rem;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      color: #fff;
      margin: 0;
    }
  }
}

.popup img{
  width: 100%;
  display: block;
}
.popup article{
  height: 300px;
  background-color: white;
}

.popup a.closePopUp{
  color: #fff;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  text-decoration: none;
}

.popup:target{
  opacity: 1;
  top: 0;
}
.popup .closePopUpOutSide{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9999991; 
}
.popup:target .popUpContainer{
  top: 50px;
  -webkit-transition: top  $duration-longer $easing-custom-2;
  -moz-transition: top $duration-longer $easing-custom-2;
  -o-transition: top $duration-longer $easing-custom-2;
  transition: top $duration-longer $easing-custom-2;
}


//Status Message

.messagebar{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  opacity: 0;
/*
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  -o-transition: opacity 3s ease;
  */
  transition: top $duration-long ease;
  

}
.messagebar .popUpContainer{
  width: 100%;
  max-width: 100%;
  position: fixed;

  background-color: #ffffff;

  border-radius: 2px;
  z-index: 9999999; 
  header {
    background: black;
    margin: 0;
    min-height: 5rem;

    h2 {
      position: absolute;
      font-size: 1rem;
      font-weight: 600;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      color: #fff;
      margin: 0;
    }
  }
}

.messagebar img{
  width: 100%;
  display: block;
}
.messagebar article{
  height: 300px;
  background-color: white;
}

.messagebar a.closePopUp{
  color: #fff;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  text-decoration: none;
}

.messagebar:target{
  opacity: 1;
  top: 0;
}
.messagebar:target .popUpContainer{

}

//Duration
/*
table {
  max-width: 55rem;
}

.examples-duration {
  tr {
    padding-bottom: 3rem;
    width: 100%;
    td{
      height: 20rem;
      width: calc(55rem/3);
    }
  }

}
*/

span.do, span.dont {
  height: 3rem;
}

//Alert Message

.notification-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  text-align: center;
  -webkit-transform: translate3d(0, -5em, 0);
  -moz-transform: translate3d(0, -5em, 0);
  -ms-transform: translate3d(0, -5em, 0);
  -o-transform: translate3d(0, -5em, 0);
  transform: translate3d(0, -5em, 0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.67, 0, 0, 1);
  -moz-transition: -moz-transform 200ms cubic-bezier(0.67, 0, 0, 1);
  transition: transform 200ms cubic-bezier(0.67, 0, 0, 1);
  line-height: 1em;
}
.notification-bar.error {
  background: #f23a55;
}
.notification-bar > a {
  -webkit-transform: translate3d(0, -10.25em, 2rem);
  -moz-transform: translate3d(0, -10.25em, 2rem);
  -ms-transform: translate3d(0, -10.25em, 2rem);
  -o-transform: translate3d(0, -10.25em, 2rem);
  transform: translate3d(0, -10.25em, 2rem);
  -webkit-transition: -webkit-transform 700ms cubic-bezier(0.67, 0, 0, 1);
  -moz-transition: -moz-transform 700ms cubic-bezier(0.67, 0, 0, 1);
  transition: transform 700ms cubic-bezier(0.67, 0, 0, 1);
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.1rem;
}
.notification-bar > a, .notification-bar > a:hover, .notification-bar > a:focus {
  text-decoration: none;
  cursor: pointer;
}
.notification-bar.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.notification-bar.active > a {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#toggle-error {
  width: 15rem;
  cursor: pointer;
  text-align: center;
  font-family: avenir;
  color: #fff;
  background: #333;
  border: 1px solid #000;

  h4{
    top:50%;
  }
}
