@keyframes balls {
  0% {
    left: 0; }
  50% {
    left: 20rem;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.16); }
  100% {
    left: 0rem; } }
* {
  font-family: avenir, Helvetica Neue, Helvetica, arial, sans-serif; }

body {
  background-color: #fafafa;
  padding: 3rem; }

header {
  margin-top: 3.5rem;
  margin-bottom: 4rem; }

h1 {
  margin-top: -2rem;
  line-height: 1;
  font-size: 4rem; }

h2 {
  font-size: 2rem;
  line-height: 0.8; }

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline; }

h4 {
  font-weight: 400;
  font-size: 1rem;
  max-width: 40rem; }

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #FF6700;
  font-style: italic; }

h6 {
  font-size: 1.25rem;
  font-weight: 100; }

.section {
  padding-bottom: 2rem;
  padding-top: 2rem; }

.subsection {
  padding-top: 0.1rem; }

.demo {
  width: 30rem;
  height: 5rem;
  background: #efefef; }
  .demo.duration {
    width: 7.5rem;
    height: 7.5rem;
    background: #FF6700;
    transition-property: border-radius, background; }
    .demo.duration.zero {
      transition-duration: 0; }
    .demo.duration.instant {
      transition-duration: 0; }
    .demo.duration.base {
      transition-duration: 200ms; }
    .demo.duration.long {
      transition-duration: 400ms; }
    .demo.duration.longer {
      transition-duration: 700ms; }
    .demo.duration.message {
      transition-duration: 2500ms; }
    .demo.duration:hover {
      background: #00d400;
      border-radius: 50%; }
  .demo.statusbar {
    cursor: pointer;
    transition: all 700ms linear;
    width: 54rem;
    height: 7rem;
    background: repeating-linear-gradient(-45deg, #ececec, #ececec 0.5rem, #f3f3f3 0.5rem, #f3f3f3 1rem); }

.ball {
  position: relative;
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background-color: #FF6700;
  animation-name: balls;
  animation-duration: 2500ms;
  animation-delay: 0.5s;
  animation-iteration-count: infinite; }
  .ball.custom-easing {
    background-color: #00D4C9; }
  .ball.easing-0 {
    animation-timing-function: ease; }
  .ball.easing-1 {
    animation-timing-function: ease-in-out; }
  .ball.easing-2 {
    animation-timing-function: ease-in; }
  .ball.easing-3 {
    animation-timing-function: ease-out; }
  .ball.easing-4 {
    animation-timing-function: linear; }
  .ball.easing-5 {
    animation-timing-function: cubic-bezier(0.67, 0, 0, 1);
    -webkit-animation-timing-function: cubic-bezier(0.67, 0, 0, 1); }
  .ball.easing-6 {
    animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
    -webkit-animation-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.motion-demo {
  position: relative;
  height: 6rem;
  width: 6rem;
  border-radius: 3rem;
  background-color: #FF6700;
  margin-bottom: 3rem;
  display: block;
  transition-duration: 200ms;
  transition-timing-fuction: cubic-bezier(0.67, 0, 0, 1);
  transition-property: all; }
  .motion-demo.slide {
    transition-timing-fuction: cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.button {
  cursor: pointer;
  position: relative;
  max-width: 290px;
  height: 60px;
  background-color: #dedede;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .button.toggle-display {
    display: inline-block;
    background-color: #555555;
    margin-right: 1rem;
    width: 5rem;
    height: 2rem; }
  .button:hover {
    color: #ffffff; }
    .button:hover a {
      color: #ffffff;
      z-index: 1000; }
    .button:hover .hovereffect1 {
      height: 60px; }
  .button:active {
    background: #74dcff;
    opacity: .75;
    transform: scale(0.98);
    transition: all 200ms ease; }
  .button a {
    position: relative;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    color: #888888;
    font-size: 1rem;
    font-weight: 400;
    line-height: 60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }

.filter {
  cursor: pointer;
  position: relative;
  max-width: 290px;
  height: 60px;
  background-color: #dedede;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .filter:hover a {
    z-index: 1000; }
  .filter:hover .hovereffect2 {
    height: 60px; }
  .filter:active {
    background: #74dcff;
    opacity: .75;
    transition: all 200ms ease; }
  .filter a {
    position: relative;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    color: #888888;
    font-size: 1rem;
    font-weight: 400;
    line-height: 60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }

.hovereffect1 {
  position: absolute;
  width: 100%;
  top: 0;
  height: 0px;
  margin: 0 auto;
  padding: 0px;
  background-color: #74dcff;
  -webkit-transition: 0.2s cubic-bezier(0.67, 0, 0, 1);
  -moz-transition: 0.2s cubic-bezier(0.67, 0, 0, 1);
  -o-transition: 0.2s cubic-bezier(0.67, 0, 0, 1);
  -ms-transition: 0.2s cubic-bezier(0.67, 0, 0, 1);
  transition: 0.2s cubic-bezier(0.67, 0, 0, 1); }

.hovereffect2 {
  position: absolute;
  width: 100%;
  top: 0;
  height: 0px;
  margin: 0 auto;
  padding: 0px;
  background-color: #74dcff;
  -webkit-transition: 70ms cubic-bezier(0.67, 0, 0, 1);
  -moz-transition: 70ms cubic-bezier(0.67, 0, 0, 1);
  -o-transition: 70ms cubic-bezier(0.67, 0, 0, 1);
  -ms-transition: 70ms cubic-bezier(0.67, 0, 0, 1);
  transition: 70ms cubic-bezier(0.67, 0, 0, 1); }

input[type='checkbox'] {
  display: none; }

#button-fadein:checked + label .fadein {
  opacity: 0;
  webkit-transform: scale(0.8);
  transform: scale(0.8);
  box-shadow: none; }

#button-ghosted:checked + label .ghosted {
  opacity: 0.5; }

#button-expand:checked + label .expand {
  webkit-transform: scale(2);
  transform: scale(2); }

#button-slide:checked + label .slide {
  margin-left: 15rem; }

#button-filter:checked + label .filter {
  background: #74dcff; }

#button-statusbar:checked + label .statusbar {
  background: #87db88; }

.float-label .control {
  float: left;
  position: relative;
  background: #fff;
  width: 25rem;
  border: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 25px; }
.float-label input, .float-label textarea {
  display: block;
  padding-left: 0.5rem;
  width: 24rem;
  border: 0;
  outline: 0;
  resize: none;
  font-size: 1rem;
  bottom: 0;
  padding-top: 0.5rem; }
  .float-label input + label, .float-label textarea + label {
    position: absolute;
    left: 0.5rem;
    top: 14px;
    padding-top: 0.1rem;
    transition: top 200ms cubic-bezier(0.67, 0, 0, 1), opacity 200ms cubic-bezier(0.67, 0, 0, 1);
    opacity: 0;
    color: #999;
    font-size: 1rem; }
  .float-label input:valid + label, .float-label textarea:valid + label {
    opacity: 1;
    top: 3px;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: bold; }
  .float-label input:focus + label, .float-label textarea:focus + label {
    color: #74dcff;
    opacity: 1;
    top: 3px;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: bold; }

.fullwidth {
  display: block;
  position: relative;
  width: 100%; }

.container {
  position: relative;
  height: 40px;
  width: 12rem; }

span {
  position: absolute;
  margin-top: 0.3rem; }

span .toggle-label {
  position: relative; }

.switch input {
  position: absolute;
  opacity: 0; }

.switch {
  display: inline-block;
  position: absolute;
  right: 0;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #cdcdcd;
  border-radius: 1em;
  border: 0.185rem solid #cdcdcd; }

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out; }

input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

#openPopUp {
  text-align: center;
  background-color: #555555;
  padding: 15px 15px;
  color: #ffffff;
  border-radius: 3.5px;
  text-decoration: none;
  font-weight: 100;
  transition: background-color 0.15s linear;
  -webkit-transition: background-color 0.15s linear;
  -moz-transition: background-color 0.25s linear;
  -o-transition: background-color 0.25s linear; }

a#openPopUp:hover {
  cursor: pointer; }

.popup {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0s ease;
  -moz-transition: opacity 0s ease;
  -o-transition: opacity 0s ease;
  transition: opacity 0s ease; }

.popup .popUpContainer {
  width: 100%;
  max-width: 64rem;
  position: fixed;
  left: 50%;
  transform: translateX(-25%);
  top: 50%;
  -webkit-transition: top  0.35s ease;
  -moz-transition: top 0.35s ease;
  -o-transition: top 0.35s ease;
  transition: top 0.35s ease;
  margin-left: -250px;
  background-color: #ffffff;
  border-radius: 2px;
  z-index: 9999999; }
  .popup .popUpContainer header {
    background: black;
    margin: 0;
    min-height: 2.5rem;
    -webkit-transition: top 70ms ease;
    -moz-transition: top 70ms ease;
    -o-transition: top 70ms ease;
    transition: top 70ms ease; }
    .popup .popUpContainer header h2 {
      position: absolute;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      left: 50%;
      top: 1.25rem;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      color: #fff;
      margin: 0; }

.popup img {
  width: 100%;
  display: block; }

.popup article {
  height: 300px;
  background-color: white; }

.popup a.closePopUp {
  color: #fff;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  text-decoration: none; }

.popup:target {
  opacity: 1;
  top: 0; }

.popup .closePopUpOutSide {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999991; }

.popup:target .popUpContainer {
  top: 50px;
  -webkit-transition: top 700ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -moz-transition: top 700ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  -o-transition: top 700ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: top 700ms cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.messagebar {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  opacity: 0;
  -webkit-transition: opacity 0s ease;
  -moz-transition: opacity 0s ease;
  -o-transition: opacity 0s ease;
  transition: opacity 0s ease; }

.messagebar .popUpContainer {
  width: 100%;
  max-width: 100%;
  position: fixed;
  background-color: #ffffff;
  border-radius: 2px;
  z-index: 9999999; }
  .messagebar .popUpContainer header {
    background: black;
    margin: 0;
    min-height: 5rem; }
    .messagebar .popUpContainer header h2 {
      position: absolute;
      font-size: 1rem;
      font-weight: 600;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      color: #fff;
      margin: 0; }

.messagebar img {
  width: 100%;
  display: block; }

.messagebar article {
  height: 300px;
  background-color: white; }

.messagebar a.closePopUp {
  color: #fff;
  position: absolute;
  top: 0.2em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  text-decoration: none; }

.messagebar:target {
  opacity: 1;
  top: 0; }

table {
  width: 55rem; }

.examples-duration tr {
  width: 100%; }
  .examples-duration tr td {
    height: 24rem;
    width: calc(100%/3); }

/*# sourceMappingURL=main.css.map */
